$m1920: 1920px;
$m1366: 1366px;
$m1360: 1360px;
$m1280: 1280px;
$m1200: 1200px;
$m1024: 1024px;
$m992: 992px;
$m960: 960px;
$m768: 768px;
$m414: 414px;
$m375: 375px;

// Those are the breakpoints as used by the very popular Twitter Bootstrap framework.
// smallerthanorequalto 768 px (smartphones)
// larger than 768 px (small devices, tablets)
// larger than 992 px (medium devices)
// larger than 1200px (large devices)

// standard setting
$widescreen: $m1920;
$desktop: $m1200;
$tablet: $m992;
$mobile: $m768;

@mixin widescreen- {
  @media (min-width: #{$widescreen + 1}) {
    @content;
  }
}

@mixin widescreen {
  @media (max-width: #{$widescreen}) {
    @content;
  }
}

@mixin desktop-widescreen {
  @media (min-width: #{$desktop + 1}) and (max-width: #{$widescreen}) {
    @content;
  }
}

@mixin desktop- {
  @media (min-width: #{$desktop + 1}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet + 1}) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet- {
  @media (min-width: #{$tablet + 1}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile-desktop {
  @media (min-width: #{$mobile + 1}) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile- {
  @media (min-width: #{$mobile + 1}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

// @include desktop-widescreen {}
// @include tablet-desktop {}
// @include mobile-tablet {}

// @include widescreen- {}
// @include desktop- {}
// @include tablet- {}
// @include mobile- {}

// @include widescreen {}
// @include desktop {}
// @include tablet {}
// @include mobile {}

@include desktop {
  .desktop {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
}
@include mobile {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
}
